{% extends 'base_main.html' %}
{% load static %}

{% block extcss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/mine/mine.css' %}">
{% endblock %}


{% block title %}
    我的
{% endblock %}
{% block header %}
    <header>
        <div style="width: 100%;text-align: center">我的</div>
    </header>
{% endblock %}


{% block content %}
    <div id="mine">
        <div class="fixed">
            {% if icon %}
                <img src="{% static icon %}">
            {% else %}
                 <span class="glyphicon glyphicon-user"></span>
            {% endif %}
            {% if name %}
                <a href="#">{{ name }}</a>
            {% else %}
                <a href="{% url 'AXF:login' %}">登录</a>
            {% endif %}

            <p>
                <span class="glyphicon glyphicon-fire"></span>
                <span>等级</span>
            </p>
            <div id="regis">
                <a href="{% url 'AXF:register' %}">注册</a>
            </div>
            <p>
                <span class="glyphicon glyphicon-heart"></span>
                <span>收藏</span>
            </p>

        </div>
     <div class="mine mine2">
        <p>
            <span>我的订单</span>
            <a href="#">更多</a>

        </p>
        <div id="nav">
            <ul>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-usd"></span></dt>
                        <dd>待付款</dd>
                    </dl>
                </li>
                 <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-envelope"></span></dt>
                        <dd>待收货</dd>
                    </dl>
                </li>
                 <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-pencil"></span></dt>
                        <dd>待评价</dd>
                    </dl>
                </li>
                 <li>
                   <dl>
                        <dt><span class="glyphicon glyphicon-retweet"></span></dt>
                        <dd>待评价</dd>
                    </dl>
                </li>
            </ul>
        </div>

        <menu>
            <ul>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-envelope"></span></dt>
                        <dd>积分商城</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                        <dd>优惠券</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-import"></span></dt>
                        <dd>收货地址</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-phone-alt"></span></dt>
                        <dd>客户反馈</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-certificate"></span></dt>
                        <dd>关于我们</dd>
                    </dl>
                </li>
            </ul>
        </menu>

{#         退出#}
         {% if icon %}
            <p>
                <a href="{% url 'AXF:logout' %}">退出</a>
            </p>
         {% endif %}
    </div>
    </div>


{% endblock %}
